.icon-gradient-border {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-gradient-border::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px; /* Adjust thickness here */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.362), rgba(255, 255, 255, 0.023));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude; 
}

.icon-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}
