.header, .footer {
  text-align: center;
  padding: 1rem;
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
}

.main-content {
  padding: 1rem;
}

.App {
  position: relative;
  z-index: 1;
  text-align: center;
}
